.Page {
    text-align: center;
    background: linear-gradient(90deg, rgba(227, 91, 145, 1) 0%, rgba(245, 245, 245, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-container {
    margin-top: 20px;
    padding: 20px;
    width: 400px;
}

.form-container input {
    padding: 10px 24px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.form-container h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}

.error {
    color: red;
    text-align: right;
    margin-top: -10px;
}

.submit-btn {
    background-color: #E35B91;
    color: white;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #FFB1D0;
    color: black;
}

.home-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    color: #000000;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.home-btn:hover {
    background: #FFB1D0;
    color: white;
}