.books-wrapper {
    min-height: 100vh;
    background: linear-gradient(1deg, rgba(227, 91, 145, 1), #f5f5f5);
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}

.top-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.back-btn {
    background: none;
    border: none;
    border-radius: 8px;
    padding: 8px 13px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}
.back-btn:hover {
    background: #FFB1D0;
    color: white;
}

.content-area {
    display: flex;
    gap: 25px;
}

.filters {
    width: 220px;
    padding: 15px;
    border-radius: 12px;
    height: fit-content;
}

.filters h3 {
    margin-bottom: 10px;
}

.filters label {
    margin-top: 10px;
    display: block;
    font-size: 14px;
}

.filters select,
.filters input {
    width: 100%;
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin-top: 4px;
}

.books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.book-card {
    width: fit-content;
    min-width: 180px;
    background: white;
    border-radius: 14px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    transition: transform .2s;
    cursor: pointer;
}

.book-card:hover {
    transform: scale(1.03);
}

.book-cover {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
}

.book-title {
    font-size: 16px;
    margin: 6px 0 0 0;
}

.book-author {
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.empty-result {
    font-size: 20px;
    color: #777;
    text-align: center;
    grid-column: 1 / -1; /* Чтобы занял всю ширину сетки */
    margin-top: 20px;
}
