.bookmark-panel {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 250px;
    background: #fff;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    z-index: 100;
    padding: 10px;
}

.bookmark-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.bookmark-main {
    cursor: pointer;
    flex: 1;
    position: relative;
}

.bookmark-title {
    font-weight: 500;
}

.bookmark-meta {
    font-size: 12px;
    color: #888;
}

.bookmark-delete {
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
}

.bookmark-btn {
    position: absolute;
    top: 10px;
    right: 40px;
    background: #E35B91;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #000000;
    padding: 4px;
    border-radius: 6px;
}

.bookmark-btn:hover{
    background: #FFB1D0;
}
