/* Перекрывает предыдущую модалку */
.modal-overlay-top {
    z-index: 2000;
}

/* ШИРОКАЯ модалка */
.reviews-modal {
    width: fit-content;
    max-width: 900px;
    max-height: 85vh;
    overflow-y: auto;
}

/* Список отзывов */
.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

/* Один отзыв */
.review-card {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    background: #f9f9f9;
    width: fit-content;
    position: relative;
}

/* Левая часть */
.review-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}

/* Имя */
.review-user {
    font-weight: 600;
    font-size: 14px;
}

/* Текст */
.review-text {
    font-size: 14px;
    color: #333;
}

/* Правая часть (звёзды) */
.review-right {
    display: flex;
    align-items: flex-start;
}

/* Форма */
.review-form {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.review-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-form textarea {
    resize: vertical;
    min-height: 80px;
    min-width: 250px;
}

.edit-actions {
    display: flex;
    flex-direction: column;
}

/* Уже оставлял */
.already-reviewed {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.empty {
    text-align: center;
    color: #777;
}

.edit-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.edit-btn:hover{
    transform: scale(2);
}
