.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.search-top-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.advanced-btn-inside {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #777;
    padding: 2px;
    line-height: 1;
    transition: transform 0.1s ease, color 0.1s ease;
}

.advanced-btn-inside:hover {
    color: #000;
    transform: translateY(-50%) scale(1.1);
}
.search-input-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.search-container {
    display: flex;
    gap: 10px;
}

.search-field {
    flex: 1;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.search-btn {
    padding: 10px 24px;
    background-color: #E35B91;
    color: white;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #FFB1D0;
    color: black;
}
