.App {
  text-align: center;
  margin-top: 100px;
}

.open-book-btn {
  padding: 12px 24px;
  background-color: #ee71aa;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.open-book-btn:hover {
  background-color: #b74985;
}

.sing-up-btn {
  padding: 12px 24px;
  background-color: #ee71aa;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.sing-up-btn:hover {
  background-color: #b74985;
}
