.home-user {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-tabs {
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.tab {
    flex: 1;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFB1D0;
    padding: 14px 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}

.tab:hover {
    background: rgb(248, 222, 235);
    color: rgba(225, 105, 151, 0.69);
}

.tab.active {
    color: #E35B91;
    border-bottom: 3px solid #E35B91;
    background: rgb(224, 192, 205);
}

.book-list {
    padding: 20px 20px 20px; /* отступы сверху и снизу */
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
}

.want-books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;   /* <-- Центровка по горизонтали */
    align-content: flex-start;  /* чтобы не прыгало */
}

.last-books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-content: flex-start;  /* чтобы не прыгало */
}

.reviews-list-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.review-with-book {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.book-card-small {
    width: 110px;   /* ⬅ реальный размер */
    height: 180px;
    overflow: hidden;
}

.book-card-small > * {
    transform: scale(0.5);
    transform-origin: top left;
}

.book-card-small:hover {
    transform: scale(1);
}

.book-card-wr {
    position: relative; /* 👈 база для absolute */
    display: inline-block;
}
